.left-menu{
    width: 300px;
    float: left;
    background-color: aqua;
    font-size: 18px;
    box-shadow: 1px 1px 5px 0 gray;
}
.left-menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.left-menu ul li{
    width: 100%;
    border-bottom: 1px solid white;
    float: left;
}
.left-menu ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 25px;
    color: black;
}

.left-menu ul li a:hover{
    background-color: black;
    color: white;
}
.sub_menu{
    background-color: hsl(0, 7%, 60%);
    color: black;
    width: 200px;
    float: left;
    display: none;
}